version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    environment:
      - MONGODB_URI=${MONGODB_URI} # Passes your .env var to the container
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_SECRET_KEY=${CLOUDINARY_SECRET_KEY}
      - CLOUDINARY_NAME=${CLOUDINARY_NAME}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - ml_service

  ml_service:
    build: ./ml_service
    ports:
      - "8000:8000"
    environment:
      - MONGODB_URI=${MONGODB_URI}

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_BACKEND_URL=http://localhost:4000
    depends_on:
      - backend